/* ======================================== */
/*             Color Variables              */ 
/* ======================================== */

$color-primary:#44cf6c;
$color-secondary:#32a287;
$color-accent:#a9fdac;
$color-shadow:#4b644a;
$color-highlight:#f1ffe7;
$color-error:#d00;
$color-success:#0E4749;
$color-warning: #fa7921;
$color-info: #50d8d7; 

/* ======================================== */
/*         Media Queries Breakpoint         */ 
/* ======================================== */

$brk-wide: '(min-width:768px)';